<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sniplet: Log In</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>Sniplet</h1>
      </div>
      <div class="messages">

      </div>
      <div class="login-container">
        <form class="login-form" action="#" method="post">
          <fieldset>
            <legend>Login</legend>
            <input type="text" name="username-login" value="" placeholder="Username">
            <input type="password" name="password-login" value="" placeholder="Password">
          </fieldset>
          <button type="button" name="login-button" onclick="login()">Log In</button>
        </form>
      </div>
      <div class="sign-up-container">
        <form class="sing-up-form" action="#" method="post">
          <fieldset>
            <legend>Sign Up</legend>
            <input type="text" name="username-sign-up" value="" placeholder="Username">
            <input type="password" name="password-sign-up" value="" placeholder="Password">
            <input type="password" name="confirmation" value="" placeholder="Confirm Password">
          </fieldset>
          <button type="button" name="sign-up-button" onclick="signup()">Sign Up</button>
        </form>
      </div>
    </div>

    <div class="footer">
      <p>Turk Codes Production</p>
    </div>

    <script src="../js/index.js" charset="utf-8"></script>
  </body>
</html>
